//VARIABLES DE COLORES
$white-color: hsl(0, 0%, 98%);
$medium-gray-color: hsl(0, 0%, 41%);
$black-color: hsl(0, 0%, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.nav {
  display: flex;
  padding: 30px 20px 20px 40px;
  align-items: center;
  position: relative;
  &__left {
    display: flex;

    &-logo {
      margin-right: 20%;
    }

    &-link {
      display: flex;
      gap: 20px;
      text-decoration: none;
      list-style: none;
      align-items: center;
      li {
        color: $medium-gray-color;
        font-size: 14px;
        display: flex;
        margin-right: 5%;
        &:hover {
          color: $black-color;
          cursor: pointer;
        }
        figure {
          width: 10px;
          height: 10px;
          margin-left: 10px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__right {
    display: flex;
    margin-left: 80%;
    position: absolute;
    gap: 30px;
    color: $medium-gray-color;
    font-size: 14px;
    align-items: center;
    &-login:hover {
      color: $black-color;
      cursor: pointer;
    }
    &-register {
      border-radius: 5px;
      border: 1px solid hsl(0, 0%, 8%);
      padding: 10px;
      &:hover {
        color: $black-color;
        cursor: pointer;
      }
    }
  }
}
