@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

$background-color: #f4f4f4;

body {
  background-color: $background-color;
  font-family: "Epilogue", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

//VARIABLES DE COLORES
$white-color: hsl(0, 0%, 98%);
$medium-gray-color: hsl(0, 0%, 41%);
$black-color: hsl(0, 0%, 8%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.layover {
  background-color: hsla(0, 0%, 0%, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.layover.active {
  opacity: 1;
}

.nav {
  display: flex;
  padding: 30px 20px 20px 40px;
  align-items: center;
  position: relative;
  &__left {
    display: flex;

    &-logo {
      margin-right: 21%;
    }

    &-link {
      display: flex;
      gap: 20px;
      text-decoration: none;
      list-style: none;
      align-items: center;
      li {
        color: $medium-gray-color;
        font-size: 14px;
        display: flex;
        margin-right: 5%;
        position: relative;

        &:hover {
          color: $black-color;
          cursor: pointer;
        }
        figure {
          width: 10px;
          height: 10px;
          margin-left: 10px;
        }
      }
    }
  }
  &__right {
    display: flex;
    margin-left: 80%;
    position: absolute;
    gap: 30px;
    color: $medium-gray-color;
    font-size: 14px;
    align-items: center;
    &-login:hover {
      color: $black-color;
      cursor: pointer;
    }
    &-register {
      border-radius: 5px;
      border: 1px solid hsl(0, 0%, 8%);
      padding: 10px;
      &:hover {
        color: $black-color;
        cursor: pointer;
      }
    }
  }
}
.dropdown1 {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 1.5rem;
  left: 0;
  opacity: 0;
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    img {
      width: 16px;
    }
  }
}
.dropdown2 {
  @extend .dropdown1;
  width: 130px;
}

.drop1:is(:hover) .dropdown1 {
  opacity: 1;
}

.drop2:is(:hover) .dropdown2 {
  opacity: 1;
}

/*========
  HERO
=========*/
.main__container {
  padding: 3rem 6rem;
  display: flex;
  justify-content: center;
  gap: 9rem;
  width: 100vw;

  &--left {
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 4.5rem;
    width: 40%;

    &-title {
      font-size: 4.5rem;
      font-weight: 700;

      display: flex;
      flex-direction: column;
    }

    &-text {
      color: $medium-gray-color;
      line-height: 1.5rem;
      width: 85%;
    }

    &-btn {
      background-color: $black-color;
      border-radius: 12px;
      color: $white-color;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      width: max-content;
    }

    &-brands {
      display: flex;
      gap: 2rem;

      & img {
        height: 1.5rem;

        &:hover {
          fill: #f4f4f4;
        }
      }
    }
  }
}
.side__menu {
  height: 100vh;
  width: 30%;
  background-color: #f4f4f4;
  position: fixed;
}

/*==========
  MEDIA QUERIES
============*/

@media (max-width: 375px) {
  .nav__left-link {
    display: none;
  }

  .nav__right {
    display: none;
  }
  .main__container{
    flex-direction: column;
  }
}
